APP_NAME=BarkBnB API
APP_ENV=development
APP_VERSION=0.1.0

SERVER_PORT=<SERVER_PORT_HERE>

DB_HOST=<DB_HOST_HERE>
DB_PORT=<DB_PORT_HERE>
DB_NAME=barkbnb
DB_USER=<DB_USERNAME_HERE>
DB_PASSWORD=<DB_PASSWORD_HERE>
DB_SSLMODE=disable
