APP_NAME=BarkBnB API
APP_ENV=development
APP_VERSION=0.1.0

SERVER_PORT=<SERVER_PORT_HERE>

POSTGRES_HOST=<POSTGRES_HOST_HERE>
POSTGRES_PORT=<POSTGRES_PORT_HERE>
POSTGRES_NAME=barkbnb
POSTGRES_USER=<POSTGRES_USERNAME_HERE>
POSTGRES_PASSWORD=<POSTGRES_PASSWORD_HERE>
POSTGRES_SSL_MODE=disable
